@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FilsonSoft';
    src: url('/fonts/FilsonSoft.woff2') format('woff2'),
         url('/fonts/FilsonSoft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }